<h1>Invoices#show</h1>

<div>
	<div>
		<span style="float: left;"> Invoice No </span>
		<span style="display: inline;padding-left: 50px;"> <%= @invoice.invoice_no %></span>
	</div>
	<br>
	<br>
	<div>
		<span style="float: left;"> Customer Name </span>
		<span style="display: inline;padding-left: 50px;"> <%= @invoice.full_name %> </span>
	</div>
	<br>
	<br>
	<div>
		<span style="float: left;"> Customer Phone </span>
		<span style="display: inline;padding-left: 50px;"> <%= @invoice.phone %> </span>
	</div>
	<br>
	<br>
	<div>
		<span style="float: left;"> Customer Email </span>
		<span style="display: inline;padding-left: 50px;"> <%= @invoice.email %> </span>
	</div>
	<br>
	<br>
	<div>
		<span style="float: left;"> Bill mount </span>
		<span style="display: inline;padding-left: 50px;"> <%= @invoice.total_bill_amount %> </span>
	</div>
	<br>
	<br>
	<div>
		<span style="float: left;"> Discount </span>
		<span style="display: inline;padding-left: 50px;"> <%= @invoice.discount %> </span>
	</div>
	<br>
	<br>
	<div>
		<span style="float: left;"> Total Paid Amount </span>
		<span style="display: inline;padding-left: 50px;"> <%= @invoice.total_paid_amount %> </span>
	</div>
</div>

<div style="margin-top: 100px">
ITEMS
<br>
	<div>

  <table>
    <thead>
      <tr>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Quantity</th>
        <th style="text-align: center;">Rate</th>
        <th style="text-align: center;">Total</th>
      </tr>
    </thead>
    <tbody class="dt-body-right stripe">
      <% @invoice_items.each do |invoice_item| %>
        <tr>
          <td style="text-align: left;padding: 10px;"> <%= invoice_item.item.name %> </td>
          <td style="text-align: left;padding: 10px;"> <%= invoice_item.quantity %> </td>
          <td style="text-align: center;padding: 10px;"> <%= invoice_item.rate %> </td>
          <td style="text-align: center;padding: 10px;"> <%= invoice_item.total %> </td>
        </tr>
      <% end %>
    </tbody>


	</div>

</div>